.app {
  max-width: 80rem;
  margin: 0 auto; 
}

.content {
  display: flex;
}

.detail {
  flex: 1 1 70%;
}

.list {
  flex: 1 1 30%;
}

/*max-width 보통 780으로 잡음   그걸 왜 16으로 나눔?*/
@media screen and (max-width : 48rem){
  .content {
    flex-direction: column;
  }
}